/* reset - start */
body, ul, h1, h5 {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
input {
    
    border: 0;
}
/* reset - end */


/* common - start */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
h1 {
    font-size: inherit;
    font-weight: normal;
}
a {
    color: #000;
}
input {
    outline: none;
}
/* common - end */

/* header - start */
.top_header {
    height: 50px;
    border-bottom: 1px solid rgb(216, 220, 229);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.top_header .logo {
    font-size: 30px;
    margin-left: 30px;
}
.top_header .right_function {
    font-size: 12px;
    margin-left: 30px;
}



.top_header .right_function .search_file {
    margin-left: 50%;
    width: 200px;
    height: 28px;
    border: 1px solid #c2c3ca;
    display: flex;
    align-items: center;
    color: #c2c3ca;
    font-size: 13px;
    overflow: hidden;
}
.top_header .search_file .icon-search {
    padding: 0 6px;
}
.top_header .right_function .user_info {
    margin-left: 20px;
    display: flex;
    align-items: center;
    position: relative;
}
.top_header .user_info .avatar {
    width: 32px;
    height: 32px;
}
.top_header .user_info .drop_button {
    color: #c2c3ca;
    font-size: 10px;
    margin-left: 8px;
}
.top_header .user_info .drop_menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
/* .top_header - end */


/* left menu - start */
main {
    position: absolute;
    top: 51px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}
main .left_menu {
    background-color: #eaedf4;
    height: 100%;
    width: 10%;
}
main .left_menu .upload_button {
    padding: 9px 53px;
    background: #3091f2;
    color: #FFF;
    font-weight: bold;
    border: 1px #288cef solid;
    margin: 15px;
}

main .left_menu .upload_button i {
    font-size: 13px;
    margin-right: 4px;
}
main .left_menu .menu {
    font-size: 14px;
}
main .left_menu .menu i {
    color: #505254;
}
main .left_menu .menu span {
    font-weight: bold;
}
main .left_menu .menu li {
    padding: 6px 0 7px 30px;
    margin-bottom: 2px;
    border: 1px solid transparent;
}
main .left_menu .menu li.active,
main .left_menu .menu li:hover {
    background-color: #e0e4ed;
    border-bottom: 1px solid #d8dce5;
    border-top: 1px solid #d8dce5;
}
main .left_menu .split_line {
    color: #d8dce5;
}
/* left menu - end */


/* right panel - start */
main .right_panel {
    height: 100%;
    width: 85%;

}

:root {
    --main-blue-color: rgb(14, 111, 238);
    --main-grey-color: rgb(240, 240, 240);
}

/* toolbar - start */
main .right_panel .toolbar {
    height: 62px;
    display: flex;
    align-items: center;
    padding-left: 7px;
    font-size: 13px;
    border-bottom: 1px solid rgb(216, 220, 229);
    
}



main .right_panel .toolbar button {
    color: var(--main-blue-color);
    margin-left: 5px;
    background-color: var(--main-grey-color);
    border: 0px solid #c7c9cf;
    padding: 7px 15px;
    border-radius: 7px;
}
main .toolbar button i {
    margin-right: 4px;
    color: var(--main-blue-color);
}

main .right_panel .toolbar button:hover {
    border: 3px solid #aed5ff;
}


main .right_panel .toolbar .upload_button {
    color: #fff;
    margin-left: 5px;
    background-color: rgb(14, 111, 238);
    padding: 7px 15px;
    border-radius: 7px;
    
}
main .right_panel .toolbar .upload_button i {
    margin-right: 4px;
    color: var(--main-grey-color);
}
/* toolbar - end */

/* dir tree - start */
main .right_panel .content {
    height: 100%;
    display: flex;
}
main .right_panel .content .dir_tree {
    width: 161px;
    height: 100%;
    background-color: #fff;
    padding: 0 12px;
}
main .right_panel .content .dir_tree i {
    color: rgb(95, 181, 252);
}
main .right_panel .content .dir_tree li {
    padding: 5px 0 5px 12px;
    border: 1px solid transparent;
}
main .right_panel .content .dir_tree li:hover {
    /* border-color: rgb(0, 140, 180); */
    background-color: rgba(114, 182, 255, 0.088);
    color: rgb(0, 140, 180);
    box-shadow: 0 0 5px rgba(0, 140, 180, 0.5);
    cursor: pointer;
}
/* dir tree - end */


/* files - start */
main .right_panel .content .files {
    margin-left: 4px;
    width: 100%;
    height: 100%;
}
.content .files .bread_crumb {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 30px;
    /* justify-content: space-between; */
}

.content .files .bread_crumb button {
    color: var(--main-blue-color);
    margin-left: 5px;
    background-color: var(--main-grey-color);
    border: 0px solid #c7c9cf;
    padding: 7px 15px;
    border-radius: 7px;
}


.content .files .bread_crumb button:hover {
    border: 3px solid #aed5ff;
}

.content .files .bread_crumb .check_all {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid #e0e4ed;
    margin: 0 10px;
}


.content .files .bread_crumb .path {
    display: flex;
}
.content .files .bread_crumb .path li {
    line-height: 30px;
    padding-left: 8px;
    padding-right: 16px;
    background-color: #e0e4ed;
    position: relative;
    font-size: 14px; /* 添加字体大小属性 */
}
.content .files .bread_crumb .path li::after,
.content .files .bread_crumb .path li::before {
    position: absolute;
    right: 0;
    /*display: "block";*/
    content: "";
    border: 7px solid #fff;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-color: transparent;
}
.content .files .bread_crumb .path li::after {
    top: 0;
    border-bottom-color: transparent;
}
.content .files .bread_crumb .path li::before {
    bottom: 0;
    border-top-color: transparent;
}
/* files - end */


/* file list - start */
.content .files .file_list {
    margin-top: 4px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
}
.content .files .file_list li {
    padding: 8px 15px;
}
.content .files .file_list li i {
    color: rgb(198, 216, 251);
    font-size: 65px;
}
.content .files .file_list li h5 {
    text-align: center;
}
/* file list - end */

/* right panel - end */

/* 在你的样式表中添加以下样式 */
.file_select {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
}

/* 悬停时改变背景颜色 */
.file_select:hover {
  background-color: #2980b9;
}
.filebutton{
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.filebutton input{
    position: absolute;
    top: 0;
    opacity: 0;
    font-size: 100px;
}
.filebutton div{
    font-size: 25px;
    background: #00ff7f;
    color: white;
    padding: 10px 15px;
}

